<h1><%# @assignment.name %></h1>
<h3><%# "#{@assignment.grade}" %></h3>
<%#I had to remove the set_assignment before action from my controller(only for the show page), because the method kept giving me an error %>
<%#I have no idea why, but it kept telling me it couldn't find the id, even though it's in the url%>
<hr />

<p>If there was actual content to the assignments, this is where I would put it</p>